<div>
    <div class="row data-config-exampledata">
        <div class="col-md-12 box">
            <dataconfigpreviewcsv />
        </div>
    </div>
    <div class="row data-config-parameters">

        <div class="col-md-12 box">

            <form role="form" ng-submit="onSaveClick()" ng-changed="onFormChanged()">

                <fieldset>

                    <div class="col-md-3">

                        <label>Name</label>
                        <input type="text" ng-model="dataModel.name" ng-model-onblur class="form-control">

                        <label>Description</label>
                        <textarea ng-model="dataModel.description" class="form-control"></textarea>

                    </div>

                    <div class="col-md-3">

                        <label>Choose file format</label>
                        <select
                                ng-model="config.parameters.row_delimiter"
                                ng-options="f.row_delimiter as f.name for f in presets.fileFormat" class="form-control"
                                ng-change="onFileFormatChanged()">
                            <option value="">-- chose --</option>
                        </select>

                        <label>Encodings</label>
                        <select
                                ng-model="config.parameters.encoding"
                                ng-options="e.name as e.name for e in presets.encoding" class="form-control">
                            <option value="">-- chose --</option>
                        </select>

                        <label>Field separator character</label>
                        <input type="text" ng-model="config.parameters.column_delimiter" ng-model-onblur ng-trim="false" class="form-control">

                    </div>

                    <div class="col-md-3">

                        <label>Escape character</label>
                        <input type="text" ng-model="config.parameters.escape_character" ng-model-onblur class="form-control">

                        <label>Text enclosure character</label>
                        <input type="text" ng-model="config.parameters.quote_character" ng-model-onblur class="form-control">

                        <!-- DD-435 -->
                        <!--<label>Define column names</label>-->
                        <!--<input type="text" ng-model="config.parameters.column_names" ng-model-onblur class="form-control">-->

                    </div>

                    <div class="col-md-3">

                                <span class="label-inline">
                                    <input type="checkbox" ng-model-onblur ng-model="ignoreLinesActivate">
                                    Ignore first
                                    <input type="text" ng-model="config.parameters.ignore_lines" style="width: 50px" class="form-control form-control-inline" ng-disabled="!ignoreLinesActivate">
                                    line(s) at beginning of file
                                </span>

                                <span class="label-inline">
                                    <input type="checkbox" ng-model-onblur ng-model="discardRowsActivate">
                                    Discard initial
                                    <input type="text" ng-model-onblur ng-model="config.parameters.discard_rows" style="width: 50px" class="form-control form-control-inline" ng-disabled="!discardRowsActivate">
                                    row(s) of data
                                </span>

                                <span class="label-inline">
                                    <input type="checkbox" ng-model-onblur ng-model="atMostRowsActivate">
                                    Load at most
                                    <input type="text" ng-model-onblur ng-model="config.parameters.at_most_rows" style="width: 50px" class="form-control form-control-inline" ng-disabled="!atMostRowsActivate">
                                    row(s) of data
                                </span>

                                <span class="label-inline">
                                    <input type="checkbox" ng-model-onblur ng-model="config.parameters.first_row_is_headings">
                                    The first row contains column headings
                                </span>

                        <br />

                        <button type="button" ng-click="onFieldChanged()" class="btn btn-default">Preview</button>
                        <button type="submit" ng-disabled="saving" class="btn btn-default">Save</button>
                        <button type="button" ng-click='onCancelClick();' class="btn btn-default">Cancel</button>

                    </div>

                </fieldset>

            </form>

        </div>

    </div>

</div>
