<div>

    <schemalist />

    <form role="form" style="margin-top: 2em; margin-bottom: 2em">
        <div class="form-group">
            <label for="xmlRecordTagInput">XML Record Tag</label>
            <input type="text" class="form-control" id="xmlRecordTagInput" placeholder="XML Record Tag" ng-required="true"
                    ng-model="config.parameters.record_tag">
            <p class="help-block">The name of the tag, that denotes a record. </p>
        </div>
        <div class="form-group">
            <label for="xmlNamespaceInput">XML Namespace</label>
            <input type="text" class="form-control" id="xmlNamespaceInput" placeholder="XML Namespace" ng-required="true"
                    ng-model="config.parameters.xml_namespace">
            <p class="help-block">The namespace of the root document, e.g. http://www.ddb.de/professionell/mabxml/mabxml-1.xsd</p>
        </div>

        <span class="selected-set-options">
            <button type="button" ng-click="onSaveClick()" class="btn btn-default">Save</button>
            <button type="button" ng-click="onCancelClick()" class="btn btn-default">Cancel</button>
        </span>
    </form>

</div>
