<div>

    <!-- DD-435 -->
    <!--<schemalist from="resources" ></schemalist>-->

    <div class="row" style="margin:0;">
        <div class="col-md-12 box">
            <dataconfigpreviewtext ></dataconfigpreviewtext>
        </div>
    </div>

    <div class="row" style="margin:0;">
        <div class="col-md-12 box">

            <form role="form" style="margin-top: 2em; margin-bottom: 2em" name="dataConfigXmlForm">
                <div class="form-group" ng-class="{'has-error':dataConfigXmlForm.xmlRecordTagInput.$error.required}">
                    <label class="control-label" for="xmlRecordTagInput">XML Record Tag</label>
                        <input type="text" class="form-control"
                               name="xmlRecordTagInput"
                               id="xmlRecordTagInput"
                               placeholder="XML Record Tag"
                               ng-required="true"
                               ng-model="config.parameters.record_tag">

                    <p class="help-block">The name of the tag that denotes a record.</p>
                </div>

                <div class="form-group">
                    <input type="checkbox"
                           name="enhanceDataResource"
                           id="enhanceDataResource"
                           ng-model="enhanceDataResource" >
                    Try to enhance data resource
                    <p class="help-block">If the default XML parsing does not work, then you can try the XML enhancer, which tries to modify the XML data resource slightly to be (hopefully) processable.</p>
                </div>

                <div class="form-group" ng-class="{'has-error':dataConfigXmlForm.name.$error.required}">
                    <label class="control-label" for="name">Name</label>
                    <input type="text" class="form-control"
                           name="name"
                           id="name"
                           ng-required="true"
                           ng-model="dataModel.name">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" ng-model="dataModel.description" class="form-control"></textarea>

                </div>
                <!-- DD-435 -->
                <!--<div class="form-group">-->
                    <!--<label class="control-label">XML Namespace-->
                        <!--<span ng-show="dataConfigXmlForm.xmlNamespaceInput.$error.required"-->
                              <!--class="pull-right">required <i-->
                                <!--class="glyphicon glyphicon-exclamation-sign"></i></span>-->
                        <!--<input type="text" class="form-control"-->
                               <!--name="xmlNamespaceInput"-->
                               <!--id="xmlNamespaceInput"-->
                               <!--placeholder="XML Namespace"-->
                               <!--ng-required="false"-->
                               <!--ng-model="config.parameters.xml_namespace">-->
                    <!--</label>-->
                    <!--<p class="help-block">The namespace of the root document, e.g. http://www.ddb.de/professionell/mabxml/mabxml-1.xsd</p>-->
                <!--</div>-->

                <span class="selected-set-options">
                    <button type="button" ng-click="onSaveClick()" ng-disabled="dataConfigXmlForm.$invalid" class="btn btn-default">Save</button>
                    <button type="button" ng-click="onCancelClick()" class="btn btn-default">Cancel</button>
                </span>
            </form>

        </div>
    </div>

</div>
