<div class="filters modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
        <h3>filters for {{componentPayload.name}}</h3>
        <button class="btn btn-warning cancel" ng-click="addFilter()">add filter</button>
    </div>
    <div class="modal-body">
        <div class="row row-2">

            <div class="tabbable col-md-3">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a>data</a>
                    </li>
                </ul>

                <filter-data />

            </div>

            <filter-selector />

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="close()">Ok</button>
    </div>

   </div>

</div>
