<div>

    <div ng-repeat="filter in filters">

        <div class="tabbable col-md-6">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a>{{filter.name}}</a>
                </li>
            </ul>

            <div class="box">
                <div ui-tree data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="filter.filter.children">
                        <li ng-repeat="data in filter.filter.children"
                            ui-tree-node
                            ng-include="'views/directives/tree_renderer.html'"></li>
                    </ol>
                </div>
            </div>

        </div>

    </div>

</div>
