<div class="row">

  <div class="col-md-5">

    <div class="zebra30 jsPanchor jsPanchorSource source-selected">

        <div class="data-head tree-child">
            <h4>{{project.input_data_model.name}}</h4>
        </div>

        <div ui-tree data-drag-enabled="false" ng-init="config = { type: 'as-source'}">
            <ol ui-tree-nodes ng-model="project._$input_data_model_schema.children">
                <li ng-repeat="data in project._$input_data_model_schema.children"
                    ui-tree-node
                    ng-include="'views/directives/tree_renderer.html'"></li>
            </ol>
        </div>

    </div>

  </div>

  <div class="col-md-5 col-md-offset-2">

      <div ng-if="!isOutputDataModelLoaded">
          <button class="btn btn-default open-schema-col-selector" type="button" ng-click="onOutputSelectorClick()">Select output schema</button>
      </div>

      <div>

          <div class="data-head" ng-if="isOutputDataModelLoaded">

              <div class="zebra30 jsPanchorTarget">

                  <div class="data-head tree-child">
                      <h4>Output Schema</h4>

                      <div class="icons">

                          <i class="glyphicon glyphicon-cog" ng-click="onOutputSelectorClick()"></i>

                      </div>

                  </div>

                  <div ui-tree data-drag-enabled="false" ng-init="config = { type: 'as-target'}">
                      <ol ui-tree-nodes ng-model="project._$output_data_model_schema.children">
                          <li ng-repeat="data in project._$output_data_model_schema.children"
                              ui-tree-node
                              ng-include="'views/directives/tree_renderer.html'"></li>
                      </ol>
                  </div>
              </div>

          </div>

      </div>
  </div>
</div>
