<div class="row">

  <div class="col-md-5">

    <button class="btn btn-default open-schema-col-selector" type="button" ng-click="onAddDataClick()">Add data</button>

    <div ng-repeat="source in sources">

        <div class="box jsPanchor" ng-class="{'source-selected': source.selected}">

            <div class="data-head">
                <h5 ng-click="collapse(source)">{{source.name}}</h5>

                <div class="icons">

                    <i class="glyphicon glyphicon-download" ng-click="selectSource(source)"></i>

                    <i class="glyphicon" ng-class="chevron(source)" ng-click="collapse(source)"></i>

                    <i class="glyphicon glyphicon-remove" ng-click="removeSource(source)"></i>

                </div>
            </div>

            <div ng-show="!source.collapsed">
                <tree data="source.schema" res-id="{{ source.resourceId }}" conf-id="{{ source.configId }}" as-source></tree>
            </div>

        </div>

    </div>

  </div>

  <div class="col-md-2" ng-controller="JoinCtrl">
      <div class="dropdown text-center">
          <a class="dropdown-toggle btn btn-info">Join</a>
          <ul class="dropdown-menu">
              <li ng-repeat="choice in joinItems">
                  <a ng-click="joinItem(choice.action)">{{choice.name}}</a>
              </li>
          </ul>
      </div>
      <div ng-if="hasMappingComponents">
          <span>Hey, Ho</span>
          <ul class="list-unstyled">
              <li ng-repeat="component in mappingComponents">
                  <mapping-component options="component"></mapping-component>
              </li>
          </ul>
      </div>
  </div>

  <div class="col-md-5">

      <button class="btn btn-default open-schema-col-selector" type="button" ng-click="onTargetSchemaSelectorClick()">Select target schema</button>

      <div class="box">

          <h5>Target Schema</h5>

          <div ng-if="isTargetLoading && !loadTargetError">
              <img src="../../images/ajax-loader.gif">
          </div>

          <div ng-if="loadError">
              <div class="loadError">
                  {{loadError}}
              </div>
          </div>

          <div ng-if="!isLoading && !loadError">
            <tree data="targetSchema" as-target></tree>
          </div>

      </div>
  </div>
</div>
