<div class="row">

  <div class="col-md-5">

    <div class="zebra30 jsPanchor jsPanchorSource source-selected">

        <div class="data-head tree-child">
            <h5>{{project.input_data_model.name}}</h5>
        </div>

        <tree data="project._$input_data_model_schema" name="project.input_data_model.name" res-id="{{ project.input_data_model.id }}" conf-id="{{ project.input_data_model.configuration.id }}" as-source layer="0"></tree>

    </div>

  </div>

  <div class="col-md-5 col-md-offset-2">

      <div ng-if="!isOutputDataModelLoaded">
          <button class="btn btn-default open-schema-col-selector" type="button" ng-click="onOutputSelectorClick()">Select output schema</button>
      </div>

      <div>

          <div class="data-head" ng-if="isOutputDataModelLoaded">

              <div class="zebra30">

                  <div class="data-head tree-child">
                      <h5>Output Schema</h5>

                      <div class="icons">

                          <i class="glyphicon glyphicon-cog" ng-click="onOutputSelectorClick()"></i>

                      </div>

                  </div>


                  <tree data="project._$output_data_model_schema" as-target></tree>
              </div>

          </div>

      </div>
  </div>
</div>
