<div>
    <h5>{{resourceName}}</h5>

    <div class="dataOuter">
        <div class="tabbable tabs-below">
            <ul class="nav nav-tabs">
                <li ng-repeat="record in records track by $index" ng-class="{active: selectedTab == $index}">
                    <a ng-click="selectTab($index);" tooltip-trigger="dblclick" tooltip-placement="right" tooltip-append-to-body="true" tooltip="{{ record.id }}">{{ $index +1 }}</a>
                </li>
            </ul>

            <div ng-repeat="record in records"  class="tab-content">
                <div ng-show="selectedTab == $index">
                    <tree data="record.data"></tree>
                </div>
            </div>
        </div>
    </div>
</div>
