<div>
    <div class="zebra20 dataOuter">
        <div class="tabbable tabs-below">
            <ul class="nav nav-tabs">
                <li ng-repeat="record in records track by $index" ng-class="{active: selectedTab == $index}">
                    <a ng-click="selectTab($index);" tooltip-trigger="dblclick" tooltip-placement="right" tooltip-append-to-body="true" tooltip="{{ record.id }}">{{ $index +1 }}</a>
                </li>
            </ul>

            <div ng-repeat="record in records"  class="tab-content">
                <div ng-show="selectedTab == $index">

                    <perfect-scrollbar ui-tree data-drag-enabled="false" class="scroller" wheel-propagation="true" wheel-speed="50" ng-class="{offCanvasShow: panes.left }" id="sourceData">

                        <ol ui-tree-nodes ng-model="record.data.children">
                            <li ng-repeat="data in record.data.children"
                                ui-tree-node
                                ng-include="'views/directives/tree_renderer.html'"></li>
                        </ol>
                    </perfect-scrollbar>

                </div>
            </div>
        </div>
    </div>
</div>
