<div>
    <h5>Target Data</h5>
    <div class="tabbable tabs-below" ng-if="records">
        <ul class="nav nav-tabs">
            <li ng-repeat="record in records track by $index" ng-class="{active: selectedTab == $index}" class="data-tab-heading">
                <a ng-click="selectTab($index);" tooltip-trigger="dblclick" tooltip-placement="left" tooltip-append-to-body="true" tooltip="{{ record.id }}">{{ $index +1 }}</a>
            </li>
        </ul>
    </div>


    <div ng-repeat="record in records" class="tab-content">
        <div ng-show="selectedTab == $index">

            <div ui-tree data-drag-enabled="false">
                <ol ui-tree-nodes ng-model="record.data.children">
                    <li ng-repeat="data in record.data.children"
                        ui-tree-node
                        ng-include="'views/directives/tree_renderer.html'"></li>
                </ol>
            </div>

        </div>
    </div>

    <tree ng-if="data" data="data"></tree>
</div>
