<div>
    <span>{{ internalName }}</span>
    <button class="btn btn-success" type="button" ng-click="sendTransformations()" ng-class="{'disabled':tabs.length == 0}">Run all transformations</button>
    <tabset>
      <tab ng-repeat="tab in tabs" heading="{{ tab.title }}" active="tab.active" select="switchTab(tab)">
        <button class="btn btn-primary" type="button" ng-click="sendTransformation(tab)">Run Transformation</button>
      </tab>
    </tabset>

    <div class="transformation-container" ng-if="activeMapping.id">

        <div class="transformation-inputs">
            <ul>
                <li ng-repeat="iap in activeMapping.input_attribute_paths" class="count{{activeMapping.input_attribute_paths.length}}">
                    <span>{{ formatAttributePath(iap.attribute_path) }}</span>
                </li>
            </ul>
        </div>

        <div class="transformation-output">
            <ul>
                <li>
                    <span>{{ formatAttributePath(activeMapping.output_attribute_path.attribute_path) }}</span>
                </li>
            </ul>
        </div>

        <div gridster="gridsterOpts">
            <ul>
                <span ng-repeat="item in gridItems">
                    <span ng-if="item.placeholder">
                        <li gridster-item="customItemMap" class='gridster-preview' ng-click="onFunctionClick(item)" x-drop-target="true" x-on-drop="dropped(dragEl, dropEl)"></li>
                    </span>
                    <span ng-if="!item.placeholder">
                        <li gridster-item="customItemMap" ng-class="{'gridster-preview': item.placeholder}" ng-click="onFunctionClick(item)">
                            {{item.function.name}}
                        </li>
                    </span>
                </span>
            </ul>
        </div>

    </div>

</div>
