<div>
    <span>{{ internalName }}</span>
    <button class="btn btn-success"
	    ng-class="{'disabled':tabs.length == 0}"
	    ng-click="sendTransformations()">
	<i class="fa fa-play-circle fa-lg fa-fw"></i> Run all transformations</button>
    <button class="btn btn-primary"
	    ng-class="{'disabled':tabs.length == 0}"
	    ng-click="sendTransformations(true)" >
	<i class="fa fa-save fa-fw"></i> Save all transformations</button>
    <div class="tabbable tabs-below">
        <ul class="nav nav-tabs">

            <li ng-repeat="tab in tabs" ng-class="{active: tab.active}">
                <a ng-click="switchTab(tab);">{{ tab.title }}</a>
            </li>

        </ul>
    </div>

    <div class="transformation-container" ng-if="activeMapping.id">
    <span>Click an input badge to apply a filter</span>

    <button class="btn btn-default" ng-click="sendTransformation(activeMapping)">Run this Transformation</button>

    <div class="previewOptionsError" ng-if="transformationStateError">{{transformationStateError}}</div>

        <div class="transformation-inputs">
            <ul>
                <li ng-repeat="iap in activeMapping.input_attribute_paths" class="count{{activeMapping.input_attribute_paths.length}}">
                    <span
                        class="input-attribute-path-badge"
                        ng-click="onFilterClick(iap)"
                        js-plumb-connector
                        js-plumb-connector-options="jsPlumbOpts"
                        js-plumb-connector-ident-type="transformation-input"
                        js-plumb-connector-ident-item="iap.attribute_path.id">{{ formatAttributePath(iap.attribute_path) }}</span>
                </li>
            </ul>
        </div>

        <div class="transformation-output">
            <ul>
                <li ng-repeat="oap in output_attribute_paths">
                    <span
                        js-plumb-connector
                        js-plumb-connector-options="jsPlumbOpts"
                        js-plumb-connector-ident-type="transformation-output"
                        js-plumb-connector-ident-item="oap.attribute_path.id">{{ formatAttributePath(oap.attribute_path) }}</span>
                </li>
            </ul>
        </div>

        <div gridster="gridsterOpts">
            <ul>
                <span ng-repeat="item in gridItems">
                    <span ng-if="item.placeholder">
                        <li gridster-item="customItemMap" class='gridster-preview' ng-click="onFunctionClick(item)" x-drop-target="true" x-on-drop="dropped(dragEl, dropEl)"></li>
                    </span>
                    <span ng-if="!item.placeholder">
                        <li gridster-item="customItemMap" ng-class="{'gridster-preview': item.placeholder}" ng-click="onFunctionClick(item)">
                            {{item.function.function_description.name}}

                            <i class="glyphicon glyphicon-unchecked"
                               ng-click="onMultipleComponentInputAdd(item)"
                               js-plumb-connector
                               js-plumb-connector-options="jsPlumbOpts"
                               js-plumb-connector-ident-type="component"
                               js-plumb-connector-ident-item="item.id"></i>

                            <span ng-if="isMultiple(item)">
                                <i class="glyphicon glyphicon-plus" ng-click="onMultipleComponentInputAdd(item)"></i>
                            </span>
                        </li>
                    </span>
                </span>
            </ul>
        </div>

    </div>

</div>
