<div class="jsPanchor" ng-class='{ isFiltered : data.isFiltered }'>
    <div ng-class="layerClass()">
      <div class="tree-child" ng-click="expandCollapse(data)"
           title="{{data.name}}"
            ng-mousedown="handleClick($event, data)"
            ng-class="{'tree-leaf':isLeaf(data), leafmatchedFilter : data.leafmatchedFilter}">

        <i class="glyphicon" ng-class="chevron(data)"></i>

        <i class="glyphicon glyphicon-unchecked jsPanchorIcon"
           ng-if="(isTarget && !isTempoDisabled() && (isLeaf(data) || !isExpanded(data)))"
           ng-style="{color:isSelected?'slategrey':''}"
           dmp-endpoint test-name="data"
           js-plumb-target-options="jspTargetOptions"></i>

        <i class="glyphicon glyphicon-unchecked target-selector disabled"
           ng-if="(isTarget && isExpanded(data) && isTempoDisabled())"></i>

        {{data.name}}
        <small ng-if="data.title && !data.editableTitle" class="data-sample" tooltip-trigger="dblclick" tooltip-placement="{{ getTooltipPlacement({ left : 'top', right : 'left' }) }}" tooltip-append-to-body="true" tooltip="{{ data.title }}"> &nbsp; {{data.title}}</small>

        <small ng-if="data.editableTitle && !data.hasChildren" class="data-sample"> &nbsp; <input type="text" ng-model="data.title" ng-change="update()"></small>

        <!--<i class="glyphicon glyphicon-edit filter-key-icon filter-key-source"-->
           <!--ng-if="isSource"-->
           <!--ng-style="{color:isSelected?'slategrey':''}"-->
           <!--ng-click="onFilterKeyClick(data)"-->
           <!--test-name="data"></i>-->

        <i class="glyphicon glyphicon-unchecked jsPanchorIcon"
           ng-if="(isSource && isLeaf(data)) || (isSource && !isExpanded(data))"
           ng-style="{color:isSelected?'slategrey':''}"
           dmp-endpoint test-name="data"
           js-plumb-source-options="jspSourceOptions"></i>

      </div>
      <div ng-show="data.$show" class="tree-list jsPanchor">
        <div ng-repeat="child in data.children">
          <tree data="child" name="name" internal res-id="{{ resId }}" conf-id="{{ confId }}"></tree>
        </div>
      </div>
    </div>
</div>
