<div class="content-header">
    <h1>Data</h1>
    <hr/>
</div>

<flash-messages></flash-messages>

<div class="content">

    <h3>Available for configuration</h3>
    <div class="gridStyle" ng-grid="dataListOptions"></div>

    <span ng-if="selectedSet.length" class="selected-set-options">
        Selected data set ({{ selectedSet.0.name }}):
        <a ng-href="#/data/{{ selectedSet.0.uuid }}"><button class="btn btn-default">Show details</button></a>

        <span class="dropdown">

            <a class="dropdown-toggle"><button class="btn btn-default">Configure ...</button></a>

            <ul class="dropdown-menu">
                <li>
                    <a href="#/data/{{ selectedSet.0.uuid }}/csv">as CSV</a>
                    <a href="#/data/{{ selectedSet.0.uuid }}/xml">as XML</a>
                    <a href="#/data/{{ selectedSet.0.uuid }}/mabxml">as MABXML</a>
                    <a href="#/data/{{ selectedSet.0.uuid }}/marc21">as Marc21</a>
                    <a href="#/data/{{ selectedSet.0.uuid }}/pnx">as PNX</a>
                    <a href="#/data/{{ selectedSet.0.uuid }}/oai-pmh+dce">as OAI-PMH + DC Elements</a>
                    <a href="#/data/{{ selectedSet.0.uuid }}/oai-pmh+dct">as OAI-PMH + DC Terms</a>
                    <a href="#/data/{{ selectedSet.0.uuid }}/oai-pmh+marcxml">as OAI-PMH + MARCXML</a>
                    <!-- DD-435 -->
                    <!--<a href="#/data/{{ selectedSet.0.uuid }}/schema">as Schema</a>-->
                </li>
            </ul>

        </span>

        <button class="btn btn-danger" ng-click="onResourceDeleteClick(selectedSet.0)">Delete Resource</button>
    </span>

    <h3>Available for projects</h3>
    <div class="gridStyle" ng-grid="modelListOptions"></div>

    <span ng-if="selectedModel.length" class="selected-set-options">
        Selected data set ({{ selectedModel.0.data_resource.name }}):
        <a ng-href="#/data-config/{{ selectedModel.0.uuid }}/{{ selectedModel.0.configuration.parameters.storage_type }}"><button class="btn btn-default">Edit Configuration</button></a>

        <span class="dropdown">

            <a class="dropdown-toggle"><button class="btn btn-default">Use for new project</button></a>

            <div class="dropdown-menu" style="padding: 15px;">
                <input ng-model="newProject.name" id="project_name" style="margin-bottom: 15px;" type="text" name="project[name]" placeholder="Name" size="30" />
                <input ng-model="newProject.description" id="project_description" style="margin-bottom: 15px;" type="text" name="user[description]" placeholder="Description" size="30" />
                <a ng-click="onUseForNewProjectClick(selectedModel, newProject)"><button class="btn btn-default">Create</button></a>
            </div>

            <script>
                // Fix input element click problem
                $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
                    e.stopPropagation();
                });
            </script>

        </span>

        <button class="btn btn-danger" ng-click="onDataModelDeleteClick(selectedModel.0)">Delete Datamodel</button>

    </span>

    <h3>All projects</h3>
    <div class="gridStyle" ng-grid="projectListOptions"></div>

    <span ng-if="selectedProject.length" class="selected-set-options">
        Selected project ({{ selectedProject.0.name }}):

        <a href="#/model/{{ selectedProject.0.uuid }}" class="btn btn-primary">Load for modelling</a>
        <!--<a ng-click="onProjectExportClick(selectedProject[0])" class="btn btn-default">Export</a>-->
        <a ng-click="onProjectDeleteClick(selectedProject[0])" class="btn btn-danger">Delete Project</a>
    </span>

    <hr>
    <h3>Export Data</h3>

    <div class="btn-group text-center">
        <button type="button" class="btn btn-primary" ng-click="onExportAllClick('application/n-quads')">Export All Data</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a class="btn" ng-click="onExportAllClick('application/n-quads')">N-Quads</a></li>
            <li><a class="btn" ng-click="onExportAllClick('application/trig')">TriG</a></li>
            <li class="divider"></li>
            <li><a class="btn disabled">JSON-LD</a></li>
        </ul>
    </div>
    <hr>

</div>
