<div class="content-header">
    <h1>Data Config as {{configType}}</h1>
    <hr/>
</div>

<div class="alert alert-dismissable alert-danger" ng-if="configError">{{configError}}</div>

<div ng-switch on="configType" class="data-config-window">

    <div ng-switch-when="csv">
        <dataconfigcsv ></dataconfigcsv>
    </div>

    <div ng-switch-when="xml">
        <dataconfigxml ></dataconfigxml>
    </div>

    <div ng-switch-when="mabxml">
        <dataconfigxml></dataconfigxml>
    </div>

    <div ng-switch-when="marc21">
        <dataconfigxml></dataconfigxml>
    </div>

    <div ng-switch-when="pnx">
        <dataconfigxml></dataconfigxml>
    </div>

    <div ng-switch-when="oai-pmh+dce">
        <dataconfigxml></dataconfigxml>
    </div>

    <div ng-switch-when="oai-pmh+dct">
        <dataconfigxml></dataconfigxml>
    </div>

    <div ng-switch-when="oai-pmh+marcxml">
        <dataconfigxml></dataconfigxml>
    </div>

    <div ng-switch-when="schema">
        <dataconfigschema ></dataconfigschema>
    </div>

</div>
