<h1>Data</h1>

<div class="gridStyle" ng-grid="dataListOptions"></div>

<span ng-if="selectedSet.length" class="selected-set-options">
    Selected data set ({{ selectedSet.0.name }}):
    <a ng-href="#/data/{{ selectedSet.0.id }}"><button class="btn btn-default">Show details</button></a>

    <span class="dropdown">

        <a class="dropdown-toggle"><button class="btn btn-default">Edit configuration</button></a>

        <ul class="dropdown-menu">
            <li>
                <a href="#/data-config/{{ selectedSet.0.id }}/csv">... as CSV</a>
                <a href="#/data-config/{{ selectedSet.0.id }}/xml">... as XML</a>
                <a href="#/data-config/{{ selectedSet.0.id }}/schema">... as Schema</a>
            </li>
        </ul>

    </span>

    <span class="dropdown">

        <a class="dropdown-toggle"><button class="btn btn-default">Load for modelling</button></a>

        <ul class="dropdown-menu">
            <li ng-repeat="conf in selectedSet.0.configurations">
                <a href="#/model/{{ selectedSet.0.id }}/{{ conf.id }}">{{ conf.id }}</a>
            </li>
        </ul>

    </span>
</span>
