<h1>Data</h1>

<div class="gridStyle" ng-grid="dataListOptions"></div>

<span ng-if="selectedSet.length" class="selected-set-options">
    Selected data set ({{ selectedSet.0.name }}):
    <a ng-href="#/data/{{ selectedSet.0.id }}"><button class="btn btn-default">Show details</button></a>
    <a href="#/data-config/{{ selectedSet.0.id }}"><button class="btn btn-default">Edit configuration</button></a>
    <a href="#/model/{{ selectedSet.0.id }}"><button class="btn btn-default">Load for modelling</button></a>
</span>
