<div class="content-header">
    <h1>Modelling Workbench</h1>

    <ul class="content-header-right">
        <li>
            <span class="title">{{project.name}}</span>
        </li>
        <li>
            <span ng-click="onDiscardDraftClick()"><i class="icon icon-refresh"></i> Revert</span>
        </li>

        <li>
            <span ng-click="onSaveProjectClick()"><i class="icon icon-check-2"></i> Save Project</span>
        </li>

        <li>
            <span ng-click="onRunProjectRunClick()"><i class="icon icon-plane-paper-1"></i> Preview</span>
        </li>

        <li>
            <span ng-click="onSaveProjectSaveClick()"><i class="icon icon-optimize"></i> Execute</span>
        </li>

    </ul>

    <hr />
</div>

<div class="alert alert-dismissable" ng-repeat="alert in alerts" ng-class="'alert-'+alert.type">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="closeAlert($index)">&times;</button>
    {{alert.msg}}
    <button class="btn btn-danger draft-alert" ng-class="{disabled:alert.busy}"
            ng-if="alert.discard" ng-click="onDiscardDraftClick($index)">
        <i ng-if="alert.busy" class="fa fa-spinner fa-spin"></i>
        discard
    </button>
    <button class="btn btn-success draft-alert" ng-class="{disabled:alert.busy}"
            ng-if="alert.save" ng-click="onSaveProjectClick($index)">
        <i ng-if="alert.busy" class="fa fa-spinner fa-spin"></i>
        save
    </button>
</div>

<div class="content">

    <div class="row row-2" id="top-row">


        <span class="offCanvasToggleButton offCanvasToggleButtonLeft" ng-show="!panes.left" ng-click='onToggleSourceDataClick()'>
            <span class="shape">
                <i class="icon icon-baseshape"></i>
            </span>
            <span class="state">
                <i class="icon icon-openleft"></i>
            </span>
        </span>

        <div class="col-md-3 offCanvas offCanvasLeft" ng-class="{offCanvasShow: panes.left }" id="sourceData">

            <span class="offCanvasToggleButton offCanvasToggleButtonLeft" ng-click='onToggleSourceDataClick()'>
                <span class="shape">
                    <i class="icon icon-baseshape"></i>
                </span>
                <span class="state">
                    <i class="icon icon-openright"></i>
                </span>
            </span>

            <source-data />
        </div>

        <div ng-class='schemaClasses()' id="schema">
            <schema />
        </div>

        <div class="col-md-3 offCanvas offCanvasRight" ng-class="{offCanvasShow: panes.right }" id="targetData">

            <span class="offCanvasToggleButton offCanvasToggleButtonRight" ng-show="panes.right" ng-click='onToggleTargetDataClick()'>
                <span class="shape">
                    <i class="icon icon-baseshape"></i>
                </span>
                <span class="state">
                    <i class="icon icon-openleft"></i>
                </span>
            </span>

            <target-data />
        </div>

        <span class="offCanvasToggleButton offCanvasToggleButtonRight" ng-show="!panes.right" ng-click='onToggleTargetDataClick()'>
            <span class="shape">
                <i class="icon icon-baseshape"></i>
            </span>
            <span class="state">
                <i class="icon icon-openright"></i>
            </span>
        </span>

    </div>
    <div class="row row-1 offCanvas offCanvasOverlay" ng-class='bottomRowClasses()' id="bottom-row">

        <div class="col-md-11">
            <h3>Mapping configuration</h3>
        </div>
        <div class="col-md-1 close-overlay" ng-click="onCloseTransformationSelectorClick()">&times;</div>

        <div class="col-md-9" id="transformation">
            <transformation />
        </div>
        <div class="col-md-3" id="components">
            <components />
        </div>
    </div>

    <div class="offCanvas offCanvasOverlay" id="configuration" ng-class="{'offCanvasShow': panes.configuration}">
        <configuration />
    </div>

</div>
