<div class="row row-2" id="top-row">
    <div class="col-md-3 box" id="sourceData">
        <source-data resource-id="{{ resourceId }}" config-id="{{ configId }}"></source-data>
    </div>
    <div class="col-md-6 box" id="schema">
        <schema resource-id="{{ resourceId}} " config-id="{{ configId }}"></schema>
    </div>
    <div class="col-md-3 box" id="targetData">
        <target-data />
    </div>
</div>
<div class="row row-1" id="bottom-row">
    <div class="col-md-3 box" id="configuration">
        <configuration />
    </div>
    <div class="col-md-6 box" id="transformation">
        <transformation />
    </div>
    <div class="col-md-3 box" id="components">
        <components />
    </div>
</div>
<div id="filter">
    <filter />
</div>
